<nav class="submenu">
    <ul class="submenu__list">
        <li class="submenu__item">
            <a href="#" class="submenu__link" name="aLL">
                <span class="submenu__text">ALL</span>
            </a>
        </li>
        <li class="submenu__item">
            <a href="#" class="submenu__link" name="mobileApps">
                <span class="submenu__text">Mobile apps</span>
            </a>
        </li>
        <li class="submenu__item">
            <a href="#" class="submenu__link" name="webServices">
                <span class="submenu__text">web services</span>
            </a>
        </li>
        <li class="submenu__item">
            <a href="#" class="submenu__link" name="augmentedReality">
                <span class="submenu__text">augmented reality</span>
            </a>
        </li>
        <li class="submenu__item">
            <a href="#" class="submenu__link" name="uxUiDesign">
                <span class="submenu__text">UX/ui design</span>
            </a>
        </li>
        <li class="submenu__item">
            <a href="#" class="submenu__link" name="development">
                <span class="submenu__text">development</span>
            </a>
        </li>
    </ul>
</nav>
