<header class="header" id="header">
  <div class="header__top">
    <div class="container-xl">
      <div class="row">
        <app-logo class="col-3"></app-logo>
        <app-menu class="col-9"></app-menu>
      </div>
    </div>
  </div>
  <div class="header__middle ">
    <div class="container-xl">
      <div class="row">
        <h2 class="col-10 header__title">
          We work with forward businesses to create new digital platforms,
          products and services.
        </h2>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container-xl">
      <div class="row">
        <app-sub-menu class="col-12 app-sub-menu"></app-sub-menu>
      </div>
    </div>
  </div>
</header>
