@import "../../../assets/css/vars";

.header {
    background-color: $secondaryColor;

    &__top {
        padding: 14px 0 10px;
        border-top: 4px solid $primaryColor;
        border-bottom: 1px solid $dividerHeader;
    }

    &__middle {
        padding: 48px 0 59px;
        border-bottom: 1px solid $dividerHeader;
    }
    &__title {
        color: $inversColor;
    }
}

.app-sub-menu {
    overflow: hidden;
}

@media screen and (max-width: $LG) {
    .header {
        &__top,
        &__bottom {
            padding-left: 5px;
            padding-right: 5px;
        }

        &__middle {
            padding: 56px 5px 51px;
        }
    }
}

@media screen and (max-width: $SM) {
    .header {
        &__middle {
            display: none;
        }

        &__top,
        &__middle,
        &__bottom {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
