//Polygraphy

$default-fonts-name: "Open Sans";
$follbak: Arial, Helvetica, sans-serif;
$default-fonts: $default-fonts-name, $follbak;
$default-font-size: 22px;
$default-line-height: 1.54;

$secondary-fonts-name: "PT Serif";
$secondary-fonts: $secondary-fonts-name, $follbak;

$nav-font-size: 14px;
$nav-line-height: 1.36;
$nav-font-weight: 700;

$accent-font-size: 16px;
$accent-line-height: 1.36;

$titleH1-font-size: 54px;
$titleH1-line-height: 1.325;

$titleH2-font-size: 48px;
$titleH2-line-height: 1.21;

$titleH3-font-size: 36px;
$titleH3-line-height: 1.325;

$titleH4-font-size: 28px;
$titleH4-line-height: 1.357;

$titleH5-font-size: 18px;
$titleH5-line-height: 1.667;

//Color

$primaryColor: #00abff;
$secondaryColor: #00172b;
$textColor: #000000;
$cornflowerBlue: #105788;
$inversColor: #ffffff;
$divider: #e1e1e1;
$dividerHeader: rgba(0, 53, 98, 0.3);

// $colorBorderHeader: $geyser;
// $colorBeforeMenu:$darkgreen;
// $bgHomeBefore:$midnight;
// $textColorHome: $springWood;
// $bgPopUp:rgba(0, 0, 0, .8);
// $bgBtnPopUp:$apple;
// $bgHoverBtnpopUp:$bilbao;
// $bgInputPopUp:$silverOpacity432;
// $bgHoverInputPopUp:$cruise;
// $bgPopUpCloseX:$riverBed;
// $bgSearch:$seaweed;
// $bgHoverInputSearch:$blizzardBlue;
// $bgHoverBtnSearch:$darkgreen;
// $textColorFooter:$dingley;
// $borderColorFooterInput:$greenMist;
// $fillHoverSvg:$apricot;

$color-4: #eead68;
$color-3: #eec368;
$color-2: #eece68;
$color-1: #eed968;
$color-5: #ee8c68;

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

$defaultBoxShadow: 0 0 3px 2px rgba(0, 0, 0, 0.35);
$hoverBoxShadow: 0 0 3px 5px rgba(0, 0, 0, 0.35);

// Breakpoints
$mobileMenu: 813px;

$XL: 1200px;
$LG: 1024px;
$MD: 979px;
$SM: 768px;
