<nav class="footer-menu">
    <ul class="footer-menu__list">
        <li class="footer-menu__item">
            <a href="#header" class="footer-menu__link" name="home">
                <span class="footer-menu__text">Home</span>
            </a>
        </li>
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link" name="caseStudies">
                <span class="footer-menu__text">Case Studies</span>
            </a>
        </li>
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link" name="services">
                <span class="footer-menu__text">Services</span>
            </a>
        </li>
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link" name="expertise">
                <span class="footer-menu__text">Expertise</span>
            </a>
        </li>
        <li class="footer-menu__item">
            <a href="#" class="footer-menu__link" name="about">
                <span class="footer-menu__text">About</span>
            </a>
        </li>
        <li class="footer-menu__item">
            <a href="#contact-us" class="footer-menu__link" name="contactUs">
                <span class="footer-menu__text">Contact us</span>
            </a>
        </li>
    </ul>
</nav>
