@import "../../../assets/css/vars";

.trinetix-services {
    &__img {
        display: block;
        margin: 0 auto;
        width: 71.667%;
    }
    &__title {
        font-family: $secondary-fonts;
        font-size: $titleH3-font-size;
        line-height: $titleH3-line-height;
        color: $primaryColor;
        text-align: center;
        margin: 3px 0 6px;

    }
    &__description{
    text-align: center;}
}
