<nav class="head-menu">
    <input class="head-menu__input" hidden aria-hidden="true" type="checkbox" id="menuBtn">
    <label class="head-menu__btn" aria-label="button menu" for="menuBtn">
        <span class="head-menu__line"></span>
    </label>
    <ul class="head-menu__list">
        <li class="head-menu__item">
            <a href="#" class="head-menu__link" name="caseStudies">
                <span class="head-menu__text">Case Studies</span>
            </a>
        </li>
        <li class="head-menu__item">
            <a href="#" class="head-menu__link" name="services">
                <span class="head-menu__text">Services</span>
            </a>
        </li>
        <li class="head-menu__item">
            <a href="#" class="head-menu__link" name="expertise">
                <span class="head-menu__text">Expertise</span>
            </a>
        </li>
        <li class="head-menu__item">
            <a href="#" class="head-menu__link" name="about">
                <span class="head-menu__text">About</span>
            </a>
        </li>
        <li class="head-menu__item">
            <a href="#contact-us" class="head-menu__link" name="contactUs">
                <span class="head-menu__text">Contact us</span>
            </a>
        </li>
    </ul>
</nav>
